<link rel="import" type="css" href="../../../bower_components/polymer/polymer.html">
<link rel="import" type="css" href="../../../bower_components/polymer/lib/utils/async.html">

<!-- CODE MIRROR -->
<script src="../../../assets/libs/code-editor/lib/codemirror.js" ></script>
<script src="http://eslint.org/js/app/eslint.js" ></script>
<script src="../../../assets/libs/code-editor/mode/xml/xml.js" ></script>
<script src="../../../assets/libs/code-editor/mode/css/css.js"></script>
<script src="../../../assets/libs/code-editor/mode/htmlmixed/htmlmixed.js"></script>
<script src="../../../assets/libs/code-editor/addon/hint/show-hint.js"></script>
<script src="../../../node_modules/@emmetio/codemirror-plugin/dist/emmet-codemirror-plugin.js"></script>
<script src="../../../assets/libs/code-editor/mode/javascript/javascript.js"></script>
<script src="../../../assets/libs/code-editor/mode/markdown/markdown.js"></script>
<script src="../../../assets/libs/code-editor/mode/haskell/haskell.js"></script>
<script src="../../../assets/libs/code-editor/mode/jade/jade.js"></script>
<script src="../../../assets/libs/code-editor/mode/sass/sass.js"></script>
<script src="../../../assets/libs/code-editor/addon/fold/foldcode.js"></script>
<script src="../../../assets/libs/code-editor/addon/fold/foldgutter.js"></script>
<script src="../../../assets/libs/code-editor/addon/fold/brace-fold.js" ></script>
<script src="../../../assets/libs/code-editor/addon/fold/xml-fold.js" ></script>
<script src="../../../assets/libs/code-editor/addon/fold/markdown-fold.js" ></script>
<script src="../../../assets/libs/code-editor/addon/fold/comment-fold.js" ></script>
<script src="../../../assets/libs/code-editor/addon/search/searchcursor.js" ></script>
<script src="../../../assets/libs/code-editor/addon/format/formatting.js" ></script>


<dom-module id="ps-code-editor">

  <link href="../../../assets/libs/code-editor/lib/codemirror.css" rel="import" type="css">
  <link href="../../../assets/libs/code-editor/theme/ambiance.css" rel="import" type="css">
  <link href="../../../assets/libs/code-editor/theme/ambiance-mobile.css" rel="import" type="css">
  <link href="../../../assets/libs/code-editor/theme/material.css" rel="import" type="css">
  <link href="../../../assets/libs/code-editor/theme/blackboard.css" rel="import" type="css">
  <link href="../../../assets/libs/code-editor/theme/cobalt.css" rel="import" type="css">
  <link href="../../../assets/libs/code-editor/theme/eclipse.css" rel="import" type="css">
  <link href="../../../assets/libs/code-editor/theme/elegant.css" rel="import" type="css">
  <link href="../../../assets/libs/code-editor/theme/erlang-dark.css" rel="import" type="css">
  <link href="../../../assets/libs/code-editor/theme/lesser-dark.css" rel="import" type="css">
  <link href="../../../assets/libs/code-editor/theme/midnight.css" rel="import" type="css">
  <link href="../../../assets/libs/code-editor/theme/monokai.css" rel="import" type="css">
  <link href="../../../assets/libs/code-editor/theme/neat.css" rel="import" type="css">
  <link href="../../../assets/libs/code-editor/theme/night.css" rel="import" type="css">
  <link href="../../../assets/libs/code-editor/theme/rubyblue.css" rel="import" type="css">
  <link href="../../../assets/libs/code-editor/theme/solarized.css" rel="import" type="css">
  <link href="../../../assets/libs/code-editor/theme/twilight.css" rel="import" type="css">
  <link href="../../../assets/libs/code-editor/theme/vibrant-ink.css" rel="import" type="css">
  <link href="../../../assets/libs/code-editor/theme/xq-dark.css" rel="import" type="css">
  <link href="../../../assets/libs/code-editor/theme/xq-light.css" rel="import" type="css">
  <link href="../../../assets/libs/code-editor/addon/fold/foldgutter.css" rel="import" type="css">

  <!--
  bespin
birds of paradise
clouds-midnight
dark-pastel
fade-to-grey
fake
fantasy script
friendship-bracelet
iddlefingers
mac
made-of-code
monokai-bright
monokai-sublime
mreq
oceanic-muted
oceanic
putty
railscasts
rhuk
zen-burnesque
  -->

  <style>
    :host #content {
      display: none;
    }
    :host {
      display: block;
      height: 100%;
      width: 100%;
    }
  </style>

  <template>

    <div id="wrapper"></div>
    <div id="content">
      <slot></slot>
    </div>

  </template>

  <script>

    /* eslint-disable quotes */

    class PsCodeEditor extends Polymer.Element {

      static get is() {
        return 'ps-code-editor';
      }

      static get properties() {
        return {
          value: {
            type: String,
            value: ''
          },
          tabSize: {
            type: Number,
            value: 4
          },
          mode: {
            type: String,
            value: 'htmlmixed'
          },
          theme: {
            type: String,
            value: 'material'
          },
          lineNumbers: {
            type: Boolean,
            value: false
          },
          title: {
            type: String,
            value: ''
          }
        }
      }

      connectedCallback() {
        super.connectedCallback();

        if(!this.value && this.$.content && this.$.content.children[0]) {
          this.value = this.$.content.children[0].innerHTML;
        }

        this.mirror = CodeMirror(this.$.wrapper, {
          mode: "htmlmixed",
          gutters: ["CodeMirror-lint-markers"],
          lint: true,
          theme: "ambiance",
          smartIndent: true,
          electricChars: true,
          lineWiseCopyCut: true,
          lineNumbers : true,
          markTagPairs: true,
          autoRenameTags: true,
          extraKeys: {
            'Ctrl-Space': 'autocomplete',
            'Tab': 'emmetExpandAbbreviation',
            'Enter': 'emmetInsertLineBreak',
            'Ctrl-W': 'emmetWrapWithAbbreviation'
          }
        });

        setTimeout(function() {
          this.mirror.refresh();
        }.bind(this), 700);

        var totalLines = this.mirror.lineCount();
        this.mirror.autoFormatRange({ line:0, ch:0 }, {line:totalLines});

        this.attachEvents();

      }

      attachEvents(){
/*
        this.mirror = CodeMirror(this.shadowRoot, { ===});

      this.mirror.on('change', function () {
        // me = polymer instance
        me.fire('code-change', { value: me.mirror.getValue() })
      });

        this.mirror.on('change', function(e) {
          this.fire('change');
          this.value = e.getValue();
        });

        this.mirror.on('keydown', function(e) {
          this.fire('change');
        });

        this.mirror.on('keyup', function(e) {
          this.fire('change');
        });

        this.mirror.on('keypress', function(e) {
          this.fire('change');
        });
*/
      }

      focus() {
        this.mirror.focus();
      }

    }

    window.customElements.define(PsCodeEditor.is, PsCodeEditor);

  </script>


  <script>

    // Add completions provider for CodeMirror’s `show-hint` addon
    CodeMirror.registerGlobalHelper('hint', 'emmet', function(mode, editor) {
      // Tell `show-hint` module that current helper will provide completions
      return !!editor.getEmmetAbbreviation();
    }, function(editor, options) {
      // Activate auto-popup, if disabled (see below)
      const marker = editor.findEmmetMarker();
      if (!marker) {
        return;
      }
      clearTimeout(marker.popupDisableTimer);
      marker.autoPopupDisabled = false;
      const completions = editor.getEmmetCompletions();
      return completions && {
        from: completions.from,
        to: completions.to,
        // Transform Emmet completions to ones that supported by `show-hint`
        list: completions.list.map(function(completion) {
          return {
            from: completion.range.from,
            to: completion.range.to,
            render: function(elt) {
              var content = document.createDocumentFragment();
              var label = document.createElement('span');
              label.className = 'emmet-label';
              var preview = document.createElement('span');
              preview.className = 'emmet-preview';
              content.appendChild(label);
              content.appendChild(preview);
              if (completion.type === 'expanded-abbreviation') {
                // It’s an expanded abbreviation completion:
                // render preview for it
                label.className += ' emmet-label__expand';
                label.textContent = 'Expand abbreviation';
                preview.className += ' emmet-preview__expand';
                // Replace tab with a few spaces so preview would take
                // lesser space
                preview.textContent = completion.preview.replace(/\t/g, '  ');
              } else {
                // A regular snippet: render completion abbreviation
                // and its preview
                label.textContent = completion.label;
                preview.textContent = completion.preview;
              }
              elt.appendChild(content);
            },
            hint: function() {
              // Use completions’ `insert()` method to properly
              // insert Emmet completion
              completion.insert();
            }
          };
        })
      };
    });
    // Automatically display Emmet completions when cursor enters abbreviation
    // marker if `markEmmetAbbreviation` option was enabled (true by default)
    editor.on('cursorActivity', function() {
      if (editor.getOption('markEmmetAbbreviation')) {
        const marker = editor.findEmmetMarker();
        if (marker && !marker.autoPopupDisabled) {
          editor.showHint({ completeSingle: false });
        }
      }
    });
    // Automatic popup with expanded Emmet abbreviation might be very annoying
    // since almost any latin word can be Emmet abbreviation.
    // So when user hides completion popup with Escape key, we should mark
    // Emmet abbreviation marker under cursor as one that shouldn’t receive
    // automatic completion popup.
    // Since CodeMirror API does not allow us (easily) to detect if completion
    // popup was hidden because of user interaction (Esc key) or because it
    // must recalculate completions on user typing, we will use a timer hack
    editor.on('startCompletion', function() {
      var marker = editor.findEmmetMarker();
      if (marker) {
        clearTimeout(marker.popupDisableTimer);
        marker.popupDisableTimer = null;
      }
    });
    editor.on('endCompletion', function() {
      var marker = editor.findEmmetMarker();
      if (marker) {
        clearTimeout(marker.popupDisableTimer);
        marker.popupDisableTimer = setTimeout(function() {
          marker.autoPopupDisabled = true;
        }, 30);
      }
    });
  </script>


</dom-module>
