<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../common/shared-styles.html">


<dom-module id="ps-dashboard">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
        height: 100%;
      }
    </style>

  <script>
    class PsDashboard extends Polymer.Element {
      static get is() { return 'ps-dashboard'; }
    }

    window.customElements.define(PsDashboard.is, PsDashboard);
  </script>
</dom-module>
