<link rel="import" href="../../../bower_components/polymer/polymer.html">

<link rel="import" href="ps-code-editor.html">

<link rel="import" href="../../common/shared-styles.html">

<dom-module id="ps-code-editor-demo">
  <template>
    <style>
      :host {
        display: block;
        height: 100%;
        width: 100%;
      }
    </style>

    <ps-code-editor></ps-code-editor>

  </template>

  <script>

    /* eslint-disable quotes */

    class PsCodeEditorDemo extends Polymer.Element {

      static get is() {
        return 'ps-code-editor-demo';
      }

      connectedCallback() {
        super.connectedCallback();
      }

    }

    window.customElements.define(PsCodeEditorDemo.is, PsCodeEditorDemo);
  </script>
</dom-module>
