<link rel="import" type="css" href="../../../bower_components/polymer/polymer.html">
<link rel="import" type="css" href="../../../bower_components/monaco-editor/monaco-editor.html">

<dom-module id="ps-code-editor">

  <style>
    :host {
      display: block;
      height: 100%;
      width: 100%;
    }

  </style>

  <template>

    <div on-click="openFile">
      dialog
    </div>

    <monaco-editor style="height: 100%!important; width: 100%;"
                   id="editor"
                   folding
                   minimap
                   theme="vs-dark"
                   language="html">

      <div slot="monaco-value">
        {{fileContent}}
      </div>

    </monaco-editor>

  </template>

  <script>
    /* eslint-disable max-len */

    const {dialog} = require('electron').remote
    const path = require('path');
    const url = require('url');
    var fs = require('fs');

    /* eslint-disable quotes */

    class PsCodeEditor extends Polymer.Element {

      static get is() {
        return 'ps-code-editor';
      }

      static get properties() {
        return {
          fileContent: {
            type: String,
            value: 'write your content here',
            notify: true
          }
        }
      }

      connectedCallback() {
        super.connectedCallback();
      }

      openFile() {

        dialog.showOpenDialog({properties: ['openFile', 'openDirectory']}, (files) => {
          if (files === undefined) {
            return;
          }

          fs.readFile(files[0], 'utf-8', (err, data) => {
            if (err) {
              alert('An error ocurred loading your files');
              return;
            }
            this.loadFileContent(data)
          })
        })
      }

      loadFileContent(content) {
        let editor = this.$.editor.value = content
      }

    }

    window.customElements.define(PsCodeEditor.is, PsCodeEditor);

  </script>

</dom-module>
