<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="./element-outline-tree.html">

<dom-module id="element-outline-menu">
    <template>
        <style>
            :host {
                display: block
            }
        </style>

        <iron-ajax auto url="[[descriptorUrl]]" handle-as="json" on-response="handleResponse" last-response="{{_descriptor}}"></iron-ajax>
        <paper-checkbox checked={{_filter.showInherited}}>Show inherited properties and methods</paper-checkbox>
        <element-outline-tree show-inherited="[[_filter.showInherited]]" descriptor="[[_descriptor]]"></element-outline-tree>
    </template>

    <script>
        /**
         * `element-outline-menu` Description
         *
         * @summary ShortDescription.
         * @customElement
         * @polymer
         * @extends {Polymer.Element}
         */
        class ElementOutlineMenu extends Polymer.Element {
            /**
             * String providing the tag name to register the element under.
             */
            static get is() {
                return 'element-outline-menu';
            }

            /**
             * Object describing property-related metadata used by Polymer features
             */
            static get properties() {
                return {
                    descriptorUrl: String,
                    _descriptor: Object,
                    _filter: { type: Object, value: () => ({ showInherited: true }) }
                };
            }
        }

        window.customElements.define(ElementOutlineMenu.is, ElementOutlineMenu);
    </script>
</dom-module>