<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/iron-collapse/iron-collapse.html">


<dom-module id="element-outline-tree">
    <template>
        <style>
            :host {
                display: block;
            }

            [hidden] {
                display: none !important;
            }

            /* SECTION */


            /* TITLE */

            .element-outline-tree-title::before {
                font-weight: bold;
                margin-right: 4px;
            }

            .element-outline-tree-title::before {
                content: '+';
            }

            .element-outline-tree-title[aria-expanded="true"]::before {
                content: '-';
            }


            .element-outline-tree-title,
            .element-outline-tree-item {
                padding: 4px;
            }
            .element-outline-tree-section-title{
                padding-left: var(--element-outline-tree-indent-size, 16px);
            }
            

            .element-outline-tree-title:hover,
            .element-outline-tree-item:hover {
                background:rgb(199, 199, 199);
                cursor: pointer;
            }

            /* ITEM */

            .element-outline-tree-item {
                padding-left: calc(var(--element-outline-tree-indent-size, 16px)*2);
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                display: flex;

            }

            .element-outline-tree-item:before {
                display: inline-block;
                padding-right: 4px;
            }

            .element-outline-tree-item.privacy-public::before {
                content: '+';
            }

            .element-outline-tree-item.privacy-private::before {
                content: '-';
            }

            .element-outline-tree-item.privacy-protected::before {
                content: '~';
            }

            .element-outline-tree-item .element-outline-tree-item-params {
                font-size: 0.9em;
            }

            .element-outline-tree-item .element-outline-tree-item-type {
                font-size: 0.9em;
            }
        </style>


        <div class="element-outline-tree-wrapper element-outline-tree-menu">
            <template is="dom-repeat" items="[[_componentsData]]" as="component">
                <div class$="element-outline-tree-component privacy-[[component.privacy]]">
                    <div class="element-outline-tree-title element-outline-tree-component-title" on-click="_toggleCollapse">
                        <[[component.tagname]]>
                    </div>
                    <iron-collapse class="element-outline-tree-component-collapse element-outline-tree-collapse">
                        <template is="dom-repeat" items="[[fields]]" as="section">
                            <div class$="element-outline-tree-section element-outline-tree-section-[[section]]" hidden$="[[!_componentHasKey(component,section)]]">
                                <div class="element-outline-tree-title element-outline-tree-section-title" on-click="_toggleCollapse">[[_parseSectionName(section)]]</div>
                                <iron-collapse class="element-outline-tree-section-collapse element-outline-tree-collapse">
                                    <template is="dom-repeat" items="[[_getPropsByKey(component,section)]]" as="prop">
                                        <div class$="element-outline-tree-item privacy-[[prop.privacy]]" on-click="_select">
                                            <span class="element-outline-tree-item-name">[[prop.name]]</span>
                                            <span class="element-outline-tree-item-params" hidden$="[[!prop.params]]">([[prop.params]])</span>
                                            <span class="element-outline-tree-item-type" hidden$="[[!prop.type]]">:[[prop.type]]</span>
                                        </div>
                                    </template>
                                </iron-collapse>
                            </div>
                        </template>
                    </iron-collapse>
                </div>
            </template>
        </div>
    </template>

    <script>
        /**
         * `element-outline-tree` Description
         *
         * @summary ShortDescription.
         * @customElement
         * @polymer
         * @extends {Polymer.Element}
         */
        class ElementOutlineTree extends Polymer.Element {
            /**
             * String providing the tag name to register the element under.
             */
            static get is() {
                return 'element-outline-tree';
            }

            /**
             * Object describing property-related metadata used by Polymer features
             */
            static get properties() {
                return {
                    descriptor: Object,
                    _componentsData: { type: Array, computed: '_computeComponentData(descriptor,showInherited)' },
                    showInherited: { type: Boolean, value: false },
                    fields: { type: Array, value: () => ['properties', 'attributes', 'methods', 'staticMethods'] }

                };
            }
            _computeComponentData(descriptor, showInherited) {
                if (!descriptor) return;

                let getData = e => ({
                    name: e.name,
                    privacy: e.privacy,
                    params: (!!e.params && e.params.map(param => param.name).join(', ')) || null,
                    type: e.type || (e.return && e.return.type) || null,
                    inherited: !!e.inheritedFrom,
                    readOnly: e.metadata && e.metadata.polymer && e.metadata.polymer.readOnly,
                    sourceRange: e.sourceRange
                });
                let isInheritedProperty = prop => showInherited || !prop.inherited;

                let getElementData = e => ({
                    path: e.path,
                    properties: e.properties.map(getData).filter(isInheritedProperty),
                    methods: e.methods.map(getData).filter(isInheritedProperty),
                    staticMethods: e.staticMethods.map(getData).filter(isInheritedProperty),
                    privacy: e.privacy,
                    attributes: e.attributes.filter(isInheritedProperty),
                    tagname: e.tagname
                });

                return descriptor.elements.map(getElementData);
            }

            _getPropsByKey(obj, key) { return obj[key]; }
            _componentHasKey(obj, key) { return !!obj[key].length; }

            _toggleCollapse(evt) {
                let titleElement = evt.currentTarget;
                let collapseElement = evt.currentTarget.nextElementSibling;
                collapseElement.toggle();
                titleElement.setAttribute('aria-expanded', collapseElement.opened)
            }

            _select(evt) {
                let sourceRange = Object.assign({ file: evt.model.parentModel.component.path }, evt.model.prop.sourceRange);

                this.dispatchEvent(new CustomEvent('element-outline-selected', { bubbles: true, composed: true, detail: sourceRange }))
            }
            _parseSectionName(str) {
                return str.replace(/([A-Z])/g, ' $1').replace(/^./, e => e.toUpperCase())
            }
        }

        window.customElements.define(ElementOutlineTree.is, ElementOutlineTree);
    </script>
</dom-module>