<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../../bower_components/iron-doc-viewer/iron-doc-nav.html">


<dom-module id="element-explorer">

  <template>
    <style>
      :host {
        display: block;
        height: 100%;
        width: 100%;
      }
    </style>

    <iron-ajax auto url="../../analysis.json" handle-as="json" on-response="handleResponse" last-response="{{_descriptor}}"></iron-ajax>

    <iron-doc-nav descriptor="[[_descriptor]]">

    </iron-doc-nav>

  </template>

  <script>
    class ElementExplorer extends Polymer.Element {

      static get is() {
        return 'element-explorer';
      }

      static get properties() {
        return {
          _descriptor: {
            type: Object
          }
        }
      }


    }

    window.customElements.define(ElementExplorer.is, ElementExplorer);
  </script>
</dom-module>