<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">


<link rel="import" href="dashboard/ps-dashboard.html">
<link rel="import" href="code-editor/ps-code-editor-demo.html">

<link rel="import" href="error/404.html">

<dom-module id="polymer-studio">
  <template>
    <style>
      :host {
        --app-primary-color: #4285f4;
        --app-secondary-color: black;

        display: block;
      }

      iron-pages {
        height: 100%;
      }

      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }

      app-header {
        color: #fff;
        background-color: var(--app-primary-color);
      }

      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }

      .drawer-list {
        margin: 0 20px;
      }

      .drawer-list a {
        display: block;
        padding: 0 16px;
        text-decoration: none;
        color: var(--app-secondary-color);
        line-height: 40px;
      }

      .drawer-list a.iron-selected {
        color: black;
        font-weight: bold;
      }
    </style>

    <app-location use-hash-as-path route="{{route}}"></app-location>
    <app-route route="{{route}}" pattern="/:page" data="{{routeData}}"></app-route>

    <app-drawer-layout fullbleed>
      <!-- Drawer content -->
      <app-drawer id="drawer" slot="drawer">
        <app-toolbar>Menu</app-toolbar>
        <iron-selector selected="{{page}}}" attr-for-selected="name" class="drawer-list" role="navigation">
          <a name="view-dashboard" href="#/dashboard">Dashboard</a>
          <a name="view-code-editor" href="#/code-editor-demo">Code Editor</a>
        </iron-selector>
        
      </app-drawer>

      <!-- Main content -->
      <app-header-layout has-scrolling-region>

        <app-header slot="header" condenses reveals effects="waterfall">
          <app-toolbar>
            <paper-icon-button icon="my-icons:menu" drawer-toggle></paper-icon-button>
            <div main-title>Polymer Studio</div>
          </app-toolbar>
        </app-header>

        <iron-pages
            selected="[[page]]"
            attr-for-selected="name"
            fallback-selection="view404"
            role="main">
          <ps-dashboard name="dashboard"></ps-dashboard>
          <ps-code-editor-demo name="code-editor-demo"></ps-code-editor-demo>
          <ps-error error="404" name="error-404"></ps-error>
        </iron-pages>
      </app-header-layout>
    </app-drawer-layout>
  </template>

  <script>

    class PolymerStudio extends Polymer.Element {

      static get is() { return 'polymer-studio'; }

      static get properties() {
        return {
          page: {
            type: String
          }
        };
      }

      static get observers() {
        return [
          '_routePageChanged(routeData.page)'
        ];
      }

      connectedCallback() {
        super.connectedCallback();
        window.location.hash = window.location.hash || '#/code-editor-demo';
      }

      _routePageChanged(page) {
        this.page = page;
      }

      _showPage404() {
        this.page = 'PsError404';
      }
    }

    window.customElements.define(PolymerStudio.is, PolymerStudio);
  </script>
</dom-module>
